// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.players {
  color: red!important;
  background-color: white;
  border-color: black;
}
