<div class="container">
  <h1>Report de match</h1>
  <% if @team_id.nil? %>
    Vous n'êtes pas actif dans la ligue, pas de report possible
  <% else %>
    Quelle rencontre souhaitez vous reporter ?
    <% @matches.each do |match|%>
    <% team1 = Team.find(match.team_1_id)%>
    <% team2 = Team.find(match.team_2_id)%>
    <% rencontre = "#{team1.name} VS #{team2.name}" %>
    <div><%= link_to rencontre, edit_match_path(match) %></div>
    <% end %>



  <% end %>
</div>
