<div class="container">
  <h1>Report de match</h1>
  <% if @team_id.nil? %>
      Vous n'êtes pas actif dans la ligue, pas de report possible
  <% else %>
      Quelle rencontre souhaitez vous reporter ?

  <% end %>
</div>
